@{
    ViewData["Title"] = "Projects";
}

<h1>My Projects</h1>
<div class="row">
    <div class="col-md-4">
        <h2>Project 1</h2>
        <p>Description of the project, technologies used, and GitHub link.</p>
    </div>
    <div class="col-md-4">
        <h2>Project 2</h2>
        <p>Description of the project, technologies used, and GitHub link.</p>
    </div>
    <div class="col-md-4">
        <h2>Project 3</h2>
        <p>Description of the project, technologies used, and GitHub link.</p>
    </div>
</div>
